/*
  Professor, este ficheiro é o ponto de entrada do Tailwind.
  As três linhas abaixo são essenciais para que o Next.js
  injete todas as classes de utilidade (como "bg-gray-800", "p-4", etc.)
  que eu uso nos meus componentes.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* O template do Next.js também adiciona algumas variáveis de cor 
  e estilos para o body. Vou mantê-los aqui, pois são uma boa prática.
*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

